<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsAppProject.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsAppProject.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsAppProject.Properties.Settings.KullanıcılarConnectionString"
            connectionString="Data Source=DESKTOP-V0ONND0;Initial Catalog=Kullanıcılar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsAppProject.Settings2>
            <setting name="usernameS" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomText1" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="rdbc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdbq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdbt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdb1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdb2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdb3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdb4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomText2" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsAppProject.Settings2>
        <WindowsFormsAppProject.Settings1>
            <setting name="Username" serializeAs="String">
                <value>UNTITLED</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsAppProject.Settings1>
    </userSettings>
</configuration>